<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section data-markdown>
        <script type="text/template">

            # Title of Presentation

            ## Prarup Gurung
        </script>
    </section>
    <section>
        <section data-markdown>
            <script type="text/template">
                # Title Content

                Content with title</script>
        </section>
        <section data-markdown>
            <script type="text/template">## List of items
            -   lorem ipsum dolor sit amet, consectetur adipiscing elit
            -   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </script>
        </section>
    </section>
    <section data-markdown>
        <script type="text/template">
            # Title Two Image

            **Bold Content**
        </script>
    </section>
    <section data-markdown>
        <script type="text/template"></script>
    </section>
    <section data-markdown>
        <script type="text/template"></script>
    </section>
    <section data-markdown>
        <script type="text/template">
            # Title End Slide
        </script>
    </section>
</body>
</html>